/* ------------Null----------------- */

@import url(https://fonts.googleapis.com/css?family=Mukta+Malar:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    background-color: #111111;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* --------------- */

body {
    font-family: 'Inter';
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ------- Header -------- */

.header {
    margin-top: 40px;
    padding: 10px 0;
    font-size: 1.5rem;
}



.header__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffff;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__logo img {
    max-width: 100%;
    height: 70px;
    width: 70px;
}

.header__nav {}


.header__nav a {
    color: #000;
    transition: 500ms;
}

.header__nav a:hover {
    scale: 1.1;
}

.menu__body {}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    row-gap: 5px;
    flex-wrap: wrap;
}

.menu__icon {}

.icon-menu {
    display: none;
}

.icon-menu__line {}


@media(max-width:550px) {
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: left 300ms;
        background-color: #282A35;
        padding: 10rem 1rem 1.25rem 1rem;
        overflow: auto;
    }

    .menu-open .menu__body {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        gap: 3rem;
    }

    .menu__link {
        color: #ffff;
        font-size: 2rem;
    }

    .icon-menu {
        display: block;
        position: relative;
        z-index: 5;
        width: 2.5rem;
        height: 2rem;
        background-color: rgba(0, 0, 0, 0);
    }

    .icon-menu__line,
    .icon-menu::before,
    .icon-menu::after {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 0.125rem;
        width: 100%;
        left: 0;
        transition: all 300ms;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu__line {
        top: calc(50% - 0.0625rem);
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 0.0625rem);
        transform: rotate(45deg);
    }

    .menu-open .icon-menu__line {
        left: 50%;
        width: 0;
    }

}

.menu-other{
    color: #ffff;
}

.menu-other:hover {
    padding-bottom: 2px;
    color: #CDAA7D;
    border-bottom: 3px solid #CDAA7D;
}

.HTML {
    color: #EE964B;
}

.CSS {
    color: #30ACE0;
}

.JS {
    color: #F1BF26;
}

.HTML-MENU:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid #CDAA7D;
}

.CSS-MENU:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid #CDAA7D;
}

.JS-MENU:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid #CDAA7D;
}


/* ----------------Main---------------- */

.Front-banner {
    background-color: #111111;
    padding: 46px 0;
}

.front-title {
    text-align: center;
    color: #ffff;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.front-sub-title {
    color: #ffff;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 20px;
}


.front-sub-text {
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
}

.Themes {
    padding: 46px;
    background-color: #111111;
}

.Themes-title-text {
    font-size: 2.5rem;
    font-weight: 500;
    width: fit-content;
    color: #ffff;
}

@media (max-width:350px) {
    .Themes-title-text {
        font-size: 2rem;
    }

    .front-title {
        font-size: 2rem;
    }
}

/* ----Line---- */
.Themes-hr {
    background-color: #ffff;
    height: 3px;
    width: 40%;
    margin: 46px 0;
}

@media(max-width:500px) {
    .front-title {
        font-size: 2.5rem;
    }

    .Themes-hr {
        width: 60%;
    }
}

@media (max-width:280px) {
    .Themes-title-text {
        font-size: 1.5rem;
    }

    .front-title {
        font-size: 1.5rem;
    }

    .Themes-hr {
        width: 100%;
    }
}


.Themes-title-sub {
    font-size: 2rem;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 60px;
    color: #ffff;

}

.themes-content-side {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

@media (max-width: 650px) {
    .themes-content-side {
        flex-direction: column;
    }
}

.themes-left,
.themes-right {
    /* width: 590px; */
    flex: 0 1 50%;
}

.themes-ul {
    margin-left: 20px;
}

.themes-li {
    display: flex;
    flex-direction: column;
}

.link {
    height: fit-content;
    width: fit-content;
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.link-more {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.link:hover {
    color: #CDAA7D;
    text-decoration: underline;
}

.CSS {
    color: #30ACE0;
}

.css-link {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #ffff;
    transition: 500ms;
    padding: 5px 0;
}

.css-link:hover {
    border-bottom: 3px solid #CDAA7D;
    color: #CDAA7D;
}

.btn-css {
    background-color: #111111;
}

/* --------------------Footer------------------- */

.footer {
    background-color: #111111;
    padding-bottom: 85px;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__row {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0;
    border-bottom: 1px solid #ffff;
    border-top: 1px solid #ffff;
    margin-top: 54px;
}

.footer__link {
    color: #ffff;
    transition: 500ms;
}

.footer__link:hover {
    scale: 1.1;
    padding-bottom: 2px;
    color: #CDAA7D;
    border-bottom: 3px solid #CDAA7D;
}

@media(max-width:550px) {
    .footer__row {
        flex-direction: column;
        row-gap: 2rem;
    }
}

/* ------------------btn-------------- */

.dropbtn {
    border: none;
}

.dropdown {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    width: fit-content;
}

.dropdown-content {
    display: none;
}

.dropdown-content.__active {
    display: block;
    width: 300px;
    position: absolute;
    background-color: #111111;
    width: fit-content;
    box-shadow: 0px 6px 12px 0px #CDAA7D;
    z-index: 1;
}

.dropdown-content a {
    color: #ffff;
    margin: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    box-shadow: 3px 5px 5px 0px #CDAA7D;
}

/* .dropdown:hover .dropdown-content {
    display: block;
    width: 300px;
} */